@use '../mixins' as *;
@use '../colors' as c;

.container {
  @include flex;
  @include size;
  flex-direction: column;
  gap: 3rem;

  div, label, input {
    @include size;
  }

  input {
    @include transition;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    height: 2.4rem;
    outline: none;
    padding-left: 5px;

    &:focus {
      border-bottom: 1px solid rgb(140, 140, 140);
    }
  }
}
