@use '../mixins' as *;
@use '../colors' as c;

.container {
  @include flexspaced;
  @include size(auto, 100%);
}

#info {
  @include flex;
  @include size(1rem, 1rem);
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.8em;
  position: relative;

  div {
    @include flex;
    @include size(auto, auto);
    animation: fadeIn 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-radius: 8px;
    flex-direction: column;
    border: 1px solid c.$accent-color;
    background: c.$accent-color;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    padding: 10px;
    bottom: 28px;
    left: -130px;
    right: -14px;
    z-index: 99;
    cursor: default;

    &:before {
      content: '';
      @include size(15px, 15px);
      background: inherit;
      border-radius: 2px;
      position: absolute;
      bottom: -5px;
      right: 14px;
      transform: rotate(45deg);
    }
  }
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }  
}
