@use '../mixins' as *;
@use '../media' as m;

.container {
  @include flex;
  @include size(3.5rem);
  gap: 1rem;

  button {
    font: {
      size: 1rem;
      weight: bold;
    }
  }
}

@media screen and (max-width: m.$small) {
  .container {
    @include size(10rem);
    flex-direction: column;
    gap: 2rem;

    button {
      @include flex;
      @include size(7rem);
    }
  } 
}