@use '../mixins'as *;

.container {
  @include flex(flex-start, flex-start);
  @include size(100%); 
  flex: 1;
  padding-inline: 3rem;
  flex-direction: column;
  gap: 3rem;
}

.choice {
  @include flex;
  @include size;
  gap: 1rem;
  flex-direction: column;

  div {
    @include flexspaced;
    @include size(auto, 100%);
    }
  }

  #info {
    @include flex;
    @include size(1rem, 1rem);
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.8em;

    &:hover {
      opacity: 0.6;
    }
  }


.wrapper {
  @include flex;
  @include size;
  gap: 7rem;

  form {
    @include flex;
    @include size(100%, _);
    flex: 1;
    flex-direction: column;
    gap: 4rem;
  }
}