@use '../mixins'as *;

.container {
  @include flex(flex-start, space-between);
  @include size(90%); 
  flex: 1;
  flex-direction: column;
}

.choice {
  @include flex;
  @include size;
  gap: 1rem;
  flex-direction: column;

  div {
    @include flexspaced;
    @include size(auto, 100%);
    }
  }

  #info {
    @include flex;
    @include size(1rem, 1rem);
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.8em;

    &:hover {
      opacity: 0.6;
    }
  }


.wrapper {
  @include flexspaced;
  @include size;

  form {
    @include flex;
    @include size(100%, 42%);
    flex-direction: column;
    gap: 4rem;
  }
}