h1 {
  font-weight: 700;
}

h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

h3, h6 {
  font-weight: 700;
}

h4 {
  font-size: 0.8em;
  font-weight: 500;
}

h5 {
  font-size: 0.9em;
  font-weight: 400;
}

span {
  align-items: center;
  display: flex;
}