@use './mixins' as *;
@use './media' as m;

.container {
  @include flex(flex-start);
  @include size;
  padding: 2rem;
  overflow-x: hidden;
}

.content {
  @include flex;
  @include size(50rem, 1400px);
  background: #efefef;
  flex-flow: row wrap;
  overflow: hidden;
  padding-inline: 3rem;
  padding-bottom: 20px;
  
  header {
    @include flex;
    @include size(15%);

    @media screen and (max-width: m.$small) {
      flex-direction: column;
    }
  }
  
  section {
    @include flex(flex-start);
    @include size(85%);
    gap: 4rem;

    @media screen and (max-width: m.$small) {
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: m.$mid) {
  .container {
    @include size(100vh);
    padding: 0;
  }
  .content {
    height: auto;
  }
}

@media screen and (max-width: m.$small) {
  .container {
    padding: 0;
  }
  .content {
    height: auto;
    padding-inline: 2rem;
    padding-bottom: 4rem;
    overflow: hidden;

    header {
      height: 7rem;
      border-bottom: 1px solid grey;
    }
  }
}