@use './mixins'as *;

.container {
  @include flex(flex-start);
  @include size(100%);  
  flex: 1;
  padding: 3rem;
  flex-direction: column;
  gap: 3rem;
}

.choice {
  @include flex;
  @include size;
  gap: 1rem;
  flex-direction: column;

  div {
    @include flexspaced;
    @include size(auto, 100%);

    span {
      @include flex;
      @include size(1rem, 1rem);
      border: 1px solid #000;
      border-radius: 50%;
      cursor: pointer;
      font-size: 0.8em;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}


.formsContainer {
  @include flex;
  @include size;
  gap: 7rem;

  form {
    @include flex;
    @include size(100%, _);
    flex: 1;
    flex-direction: column;
    gap: 4rem;
  }
}

.inputsContainer {
  @include flex;
  @include size;
  flex-direction: column;
  gap: 2.8rem;

  label {
    width: 100%;
  }


  input {
    @include size(2.4rem);
    background: none;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    margin-top: -2.4rem;
    outline: none;
  }
}

.buttonsContainer {
  @include flex;
  @include size(3.5rem);
  gap: 1rem;

  button {
    font: {
      size: 1rem;
      weight: bold;
    }
  }
}